table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}
tr {
  border-bottom: 1px solid #ccc;
  text-align: left;
}
th,
td {
  padding: 8px;
  white-space: nowrap;
  word-wrap: break-word; /* Optional: helps break long words */
  overflow-wrap: break-word;
}

.cell-header {
  display: none;
}

@media screen and (max-width: 600px) {
  th {
    display: none;
  }
  .cell-header {
    display: block;
    font-weight: bold;
  }
  td {
    display: flex;
    justify-content: space-between;
    white-space: normal;
    max-width: 370px;  /* Optional: set a maximum width for the comment cell */
  }
}
